/* HEADER */
/* Variables */
$color-grey-bar: rgb(226, 220, 220, 0.6);
$color-violet-text: blueviolet;
$color-orange-hover: orange;

.topBarContainer {
  /* position: fixed; */
  display: flex;
  /* align-items: center; */

  background-color: $color-grey-bar;
  /* background-color: blue; */
  /* opacity: 60%; */

  width: 100%;
  overflow: hidden;

  position: fixed;
  z-index: 5;
  font-weight: bold;

  /* justify-content: space-around; */
  /* flex-direction: row;
      align-items: center; */
}

.hayuLogoBar {
  /* flex: 2; */
  flex-basis: 30%;
  padding: 8px 50px;
  /* background-image: url(<img src="/assets/images/logoLightCoral.df9a47c35e66010e7f9935957484264a.svg" alt="hayu logo">); */
  /* background-image: url("https://www.hayu.com/assets/images/logoLightCoral.df9a47c35e66010e7f9935957484264a.svg"); */
  background-position: left;
  min-height: 30px;
  margin: 20px 0px;
  background-repeat: no-repeat;

  transition-property: transform;
  transition-duration: 1s;

  &:hover {
    transform: scale3d(1, 1.5, 1.5);
  }
}

.menuBar {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 80%;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;

  padding: 40px 50px;
  /* margin: 20px 30px; */

  &Box {
    flex-basis: 30%;
    flex-grow: 2;
    list-style: none;
    text-decoration: none;
    color: $color-violet-text;
    /*border-bottom: mediumorchid;
      border-radius: 10px;
      box-sizing: border-box; */

    &:hover {
      color: $color-orange-hover;
      font-size: 20px;
      transition: all 500ms;
      font-size-adjust: 20px;
    }
  }
}
