/* IMAGE BOX */
.imgBox {
  /* position: absolute; */
  z-index: 1;
  top: 150px;
  /* background-image: url(../images/puppies.png); */
  /* width: 100%;
  height: 600px; */
  min-height: 400px;
  border-radius: 10px;
  /* background-position: 100px 200px; */
  background-repeat: no-repeat;
  overflow-x: scroll;

  & h3 {
    position: absolute;
    left: 20%;
    font-size: 50px;
    animation-name: boxTitle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
}

@keyframes boxTitle {
  0% {
    top: -50px;
  }
  100% {
    top: 120px;
  }
}
