.home {
  background-color: rgb(211, 190, 238);
  color: blueviolet;

  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: normal;

  line-height: 1.6em;
  /* margin: 10px; */
}
