$color-golden: goldenrod;
.container {
  z-index: 6;
  top: 150px;
  border-radius: 10px;
  width: 80%;
  position: relative;
  left: 10%;
}
.box {
  border: 2px $color-golden solid;
  border-radius: 10px;
  padding: 20px;

  margin: 20px 0;
  &Title {
    display: flex;
    justify-content: center;
    align-content: flex-start;

    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: $color-golden;
  }
  &Text {
    justify-content: center;
  }
}
.imgBox {
  position: absolute;
  display: flex;
  // width: 500px;
  height: 300px;
  border-radius: 10px;
  justify-content: flex-end;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &Img {
    margin-right: 50px;
    width: 100px;
    height: 100px;
  }
  &Text {
    font-size: 10px;
  }
}
