/* IMAGE BOX DISPLAY/SCROLL */
.wholeScrollBox {
  position: relative;
  /* overflow: scroll; */

  background-color: rgb(255, 255, 255);
  /* color: blueviolet; */
  border: rgb(70, 218, 137);
  border-width: 3px;
  border-radius: 10px;

  width: 100%;
  margin-top: 2%;

  min-height: 350px;
}
.displayTitleBox {
  display: flex;
  z-index: 3;
  justify-content: flex-start;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 5%;
}

.scrollBox {
  display: flex;
  overflow: scroll;
  flex-shrink: 0;
  flex-wrap: nowrap;
  position: relative;
  transition: left 700ms ease-in-out 0s;
  left: 0px;
  width: auto;
  padding-left: 3.66%;
  padding-bottom: 20px;
}
.scrollBoxItem {
  display: inline-block;
  flex-shrink: 0;
  top: 10px;
  border-radius: 10px;
  position: relative;
  margin-right: 16px;
  height: 200px;
  width: 300px;
  overflow: hidden;
  /* background-image: url(https://placedog.net/300/200?random); */

  transition-property: transform;
  transition-duration: 0.2s;
}
.scrollBoxItem:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  /* transform: rotateX(180deg); */
}
