/* FOOTER */
/* $color-white-text-footer: aliceblue; */
.mainFooter {
  display: flex;
  /* background-image: url(../images/footerBack.png); */

  /* url("https://www.hayu.com/assets/images/logoLightCoral.df9a47c35e66010e7f9935957484264a.svg"), */
  z-index: 1;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-repeat: repeat;
  /* align-items: flex-end;
    justify-content: center; */
  /* color: $color-white-text-footer; */
  color: aliceblue;
  font-weight: bold;
}
.mainFooterLogo {
  flex: 1;

  background-repeat: no-repeat;
  z-index: 3;
  background-position: right;
  margin: 20px 0px 0px 50px;
}

.mainFooterUl {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-items: center;
  list-style-type: none;
  margin-inline-start: 10px;
  padding-inline-start: 0px;
  align-content: center;
  grid-auto-rows: 70px;
  /* padding: 0px; */
  text-transform: uppercase;
}

.mainFooter p {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
