* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 190, 238);
  color: blueviolet;
  width: 100%;
  height: 100%;
  /* max-height: max-content; */

  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: normal;

  line-height: 1.6em;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

img {
  border-style: none;
  size: 40px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@media (max-width: 600px) {
  .topBarContainer {
    width: auto;
    float: none;
  }
  .wholeScrollBox {
    width: auto;
    float: none;
  }
  .mainFooter {
    width: auto;
    float: none;
  }
}
